################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/School_Management_DRC/School_Management_DRC/bin/Debug/netcoreapp3.1
/School_Management_DRC/School_Management_DRC/obj
