
@{
    ViewData["Title"] = "Aboutus";
}

<h1>About us</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Text 1</h3>
            <h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam debitis eum modi perspiciatis, <br />
                possimus explicabo nihil reiciendis a! Amet numquam ipsam dolore omnis officiis itaque quae quia <br />
                sit, reprehenderit delectus.<br />

            </h4>
        </div>
        <div class="col-sm-4">
            <h3>Text 2</h3>
            <h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam debitis eum modi perspiciatis, <br />
                possimus explicabo nihil reiciendis a! Amet numquam ipsam dolore omnis officiis itaque quae quia <br />
                sit, reprehenderit delectus.<br />

            </h4>
        </div>
        <div class="col-sm-4">
            <h3>Text 3</h3>
            <h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam debitis eum modi perspiciatis, <br />
                possimus explicabo nihil reiciendis a! Amet numquam ipsam dolore omnis officiis itaque quae quia <br />
                sit, reprehenderit delectus.<br />

            </h4>
        </div>
    </div>
</div>


